@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

.sidebar {
  margin: 0;
  padding: 0;
  width: 340px;
  background-color: #328a28;
  position: fixed;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden
}

.sidebar a {
  display: block;
  color: #fff;
  padding: 15px;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.sidebar a.active {
  color: #12e4e4;
}

.sidebar a.active {
  background-color: #2B8221;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #2B8221;
  color: white;
  border-radius: 2px;
}

.nme-1 {
  margin-top: -4px;
}

div.content {
  margin-left: 341px;
  /* padding: 1px 16px; */
  min-height: auto;
  background-color: #FAFAFA;
  padding-bottom: 50px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}


.side-bar .form {
  position: relative;
}

.side-bar .form .bi-search {
  position: absolute;
  top: 14px;
  left: 20px;
  color: #fff;
}

.side-bar .form-input {
  height: 48px;
  text-indent: 33px;
  border-radius: 4px;
  background: #2B8321;
  border: 1px solid #2b8321;
}

.side-bar .form-input:focus {
  box-shadow: none;
  border: none;
}

.side-bar .form-input::placeholder {
  color: #fff;
}

.sidebar h6 {
  color: #82B67C;
  font-size: 10px;
  line-height: 12px;
  font-weight: 500;
  letter-spacing: 2px;
}

.side-bar .item a:hover{
  transition: 0.3s ease;
 }
 
 .side-bar .menu .item i{
  margin-right: 15px;
 }
 
.side-bar .item a .dropdown {
  position: absolute;
  right: 0;
  margin: 3px 48px 0px 4px;
  transition: 0.3s ease;
}

.side-bar .sub-menu{
  background: transparent;
  display: none;
 }
 
.side-bar .menu .item .sub-menu a{
  padding-left: 80px;
 }

 .rotate{
  transform: rotate(90deg);
 }

 .side-bar .item{
  position: relative;
  cursor: pointer;
 }


.sidebar hr {
  margin: 1rem 0;
  color: #fff;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 1;
}

.home .form {
  position: relative;
}

.home .form .bi-search {
  position: absolute;
  top: 14px;
  left: 20px;
  color: #9CA3AF;
}

.home .form-input {
  height: 48px;
  text-indent: 33px;
  border-radius: 4px;
  background: #FAFAFA;
  border: 1px solid #FAFAFA;
}

.home .form-input:focus {
  box-shadow: none;
  border: none;
}

.home .form-input::placeholder {
  color: #9CA3AF;
}

.side-bar::-webkit-scrollbar {
  display: none;
}

.app-card {
  padding: 50px 40px;
  border-radius: 16px;
}

.app-card h3 {
  color: #040404;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
}

.app-card h6 {
  color: #6B7280;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.app-card h5 {
  color: #000;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  font-family: number;
}

.app-card-btn {
  background: #F9FAFB;
  border: 1px solid #F9FAFB;
  font-size: 12px;
  color: #6B7280;
  padding: 4px 15px;
  border-radius: 48px;
  float: right;
  margin-top: -36px
}

.app-equal {
  margin: 30px 0;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  top: -1px!important;
  left: 155px!important;
}

.graphs img {
  height: 408px;
  object-position: top;
  object-fit: cover;
  border-radius: 22px;
}

.cancel {
  height: 398px;
  object-position: top;
  width: 100%;
  object-fit: cover;
}

.user-avi h6 {
  color: #000000;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  margin: 0;
}

.user-avi p {
  color: #9CA3AF;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.bg-orange {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./assets/orange.svg");
}

.bg-green {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./assets/green.svg");
}

.pending-loan {
  background-color: #fff;
  padding: 40px 30px;
  border-radius: 20px 20px 0px 0px;
}

.pending-loan h5 {
  color: #000000;
  font-size: 15px;
  line-height: 19px ;
  font-weight: 500;
}

.xxx {
  color: #228B22;
  padding: 8px 15px;
  border-radius: 40px;
  background: #FAFAFA;
  cursor: pointer;
  margin-top: -8px;
  font-size: 13px;
  font-weight: 500;
}

.members .table>:not(caption)>*>* {
  padding: 1.2rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.members th {
  color: #9CA3AF;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
}

.member-table th {
  color: #9CA3AF;
  font-size: 14px;
  line-height: 14px;
  font-weight: 50;
  letter-spacing: 0.05rem;
}


.members tbody, td, tfoot, th, thead, tr {
  border-color: #F3F4F6;
  border-style: solid;
  border-width: 0;
}

.pagination {
  --bs-pagination-padding-x: 0.75rem;
  --bs-pagination-padding-y: 0.170rem;
}

.members td{
  color: #000;
  font-size: 12px;
  line-height: 36px;
  font-weight: 500;
}

.approved {
  background: #F0FDF4;
  color: #22C55E;
  padding: 6px 14px;
  border-radius: 44px;
  font-size: 10px;
}

.disbursed {
  background: #F0F6FF;
  color: #005FEE;
  padding: 6px 14px;
  border-radius: 44px;
  font-size: 10px;
}

.awaiting {
  background: #FFFBEB;
  color: #FFCA0D;
  padding: 6px 14px;
  border-radius: 44px;
  font-size: 10px;
}

.withdrawn {
  background: #FFF0F0;
  color: #FF4E4E;
  padding: 6px 14px;
  border-radius: 44px;
  font-size: 10px;
}

.activ {
  background: #FFF2EB;
  color: #FF823B;
  padding: 6px 14px;
  border-radius: 44px;
  font-size: 10px;
}

.active>.page-link, .page-link.active {
  z-index: 3;
  color: var(--bs-pagination-active-color);
  background-color: #328a28;
  border-color: #328a28;
}

.details {
  border: 1px solid #f4f4f5!important;
  border-radius: 6px!important;
  box-shadow: 0 25px 50px -12px rgba(46,162,117,.25)!important;
}

.details .dropdown-item {
  font-size: 13px;
  text-align: center;
  font-weight: 500;
  color: #041004!important;
}

.details .dropdown-item:hover {
  background-color: #fff;
}

.members .dropdown {
  cursor: pointer;
}

.view-loans a {
  color: #9CA3AF;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}

.view-loans {
  min-height: 999px;
}

.tog-bg {
  background-color: #FAFAFA;
  border-radius: 5px;
}

.tog-bg .nav-link {
  color: #000;
  font-size: 12px;
  font-weight: 400;
}

.tog-bg .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 400;
  box-shadow: 0px 4px 13px 0px #0000001F;
}

.details-card {
  background-color: #FAFAFA;
  padding: 20px;
}

.details-card h3 {
  color: #000;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
}

.details-card p {
  color: #041004;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
}

.details-card h5,
.preview h5 {
  color: #B3B3B3;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.details-card h6,
.app-details h3,
.preview h6 {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  /* font-family: number; */
}

.buttons-csv {
  background: #FAFAFA;
  color: #041004;
  font-size: 13px;
  font-weight: 600;
  border: 1px solid #FAFAFA;
  padding: 7px 25px;
}

.app-details .form-label,
.modal-m .form-label {
  color: #9CA3AF;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
}

.app-details .form-control,
.app-details .form-select,
.app-cal .form-control,
.app-cal .form-select,
.modal-m .form-control {
  border: 1px solid #F0F0F0;
  padding: 13px;
  font-size: 14px;
  font-weight: 500;
}

.btn-save {
  background: #328a28!important;
  color: #fff!important;
  padding: 12px 30px!important;
  font-size: 13px!important;
  font-weight: 500!important;
  border-radius: 50px!important;
  border: 1px solid #328a28!important;
}

.btn-report {
  background: #F1F1F1;
  color: #000;
  padding: 12px 30px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 50px;
  border: 1px solid #E7E7E7;
}

.app-details hr {
  margin: 2rem 0;
  color: #F3F4F6;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 0.9;
}

.preview hr {
  margin: 1rem 0;
  color: #F3F4F6;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 0.9;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.report-card {
  background-color: #fff;
  padding: 30px;
  border-radius: 16px;
}

.report-card h3 {
  color: #6B7280;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.report-card p {
  color: #6B7280;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
}

.report-card h6,
.card-loans h6 {
  color: #6B7280;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  font-family: number;
}

.report-card span {
  color: #228B22;
  font-size: 11px;
}

.loan-saving {
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 16px;
}

.loan-saving h2 {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.loan-saving .nav-link,
.loany .nav-link {
  color: #D1D5DB;
  font-size: 12px;
  font-weight: 400;
  padding: 9px 34px 9px 0px;
}

.loan-saving .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #000;
  background-color: #fff;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 400;
}

.loany .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #000;
  background-color: #fff;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 400;
}

.card-loans {
  border: 1px solid #F3F4F6;
  background-color: #FCFCFC;
  padding: 20px;
  border-radius: 14px;
}

.card-loans h1 {
  color: #22C55E;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin: 0;
}

.add_ {
  margin-top: -20px;
  margin-bottom: 20px;
}

.modal-m .modal-content { 
  background: #FAFAFA;
  border-radius: 24px;
}

.modal-m .modal-header {
  background: #fff;
  border-bottom: 0;
  border-radius: 24px 24px 0px 0px;
  padding: 25px;
}

.modal-m .modal-title {
  font-size: 14px;
  line-height: 16px;
  color: #000;
  font-weight: 500;
}

.modal-m .modal-body {
  padding: 25px;
}

.inner-card {
  background: #fff;
  padding: 25px;
  border-radius: 16px;
}

.add {
  margin-top: -36px;
}

.title-head {
  background: #FAFAFA;
  padding: 15px 12px 6px 10px;
  border-radius: 10px 10px 0px 0px;
}

.addlist {
  padding: 15px 12px 6px 10px;
}

.gray-part {
  background-color: #FCFCFC;
  padding: 15px;
  border-radius: 10px;
}

.instruct {
  box-shadow: 0px 8px 47px 0px #9696961F;
}

.gray-part h5,
.instruct h5 {
  color: #041004;
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
}

.instruct li {
  font-size: 12px;
  color: #4B5563;
  line-height: 50px;
}

.upload-sheet {
  background-color: #FCFCFC;
  padding: 70px 40px;
}

.upload-sheet h6 {
  color: #000;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
}

.add-m h4 {
  color: #041004;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  margin: 0;
}

.add-m hr {
  margin: 24px 0;
  color: #F3F4F6;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 0.9;
}

.overview-table td {
  text-align: right;
  color: #000000;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
}

.overview-table th {
  color: #9CA3AF;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}

.overview hr {
  margin: 24px -44px;
  color: #fafafa;
  border: 0;
  border-top: var(--bs-border-width) solid;
  opacity: 0.9;
}

.overview .table>:not(caption)>*>* {
  padding: 1rem 0.5rem!important;
}